<!-- HEADER -->
<header
  class="fixed top-0 left-0 w-full bg-gray-800 text-white text-center py-4 shadow z-50"
>
  <h1 class="text-xl font-semibold">Marvel Selection</h1>
</header>

<div class="flex flex-col items-center gap-4 p-4 pt-16">
  <h1 class="text-2xl font-bold">Application Form</h1>

  <div class="">
    <label class="font-medium pr-4">First Name:</label>
    <input [(ngModel)]="firstName" class="border px-2 py-1 rounded" />
  </div>

  <div class="">
    <label class="font-medium pr-4">Last Name:</label>
    <input [(ngModel)]="lastName" class="border px-2 py-1 rounded" />
  </div>

  <div class="">
    <label class="font-medium pr-16">Age:</label>
    <input [(ngModel)]="age" class="border px-2 py-1 rounded" />
  </div>

  <button
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
    (click)="onSubmit()"
  >
    Copy to clipboard
  </button>
</div>
<div class="flex flex-col items-center" *ngIf="showText">{{ template }}</div>
<!-- FOOTER -->
<footer
  class="fixed bottom-0 left-0 w-full bg-gray-200 text-center py-3 text-sm text-gray-600 shadow-inner"
>
  © 2025 My Application. All rights reserved.
</footer>
